/* import font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* common shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.primary-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

/* header section styles */
.header-container {
    width: 82.5%;
    max-width: 1320px;
    margin: 50px auto;
    color: #FFF;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner/Banner-Image.png');
    height: 600px;
}

.happy-title {
    text-align: center;
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.new-year-title {
    text-align: center;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    padding: 20px 344px;
}

/* main section styles */
main section {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

.off-container {
    text-align: center;
}

.off-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin: 150px auto 48px;
}

.all-categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin: 15px auto 48px;
}

.off-container img {
    margin-bottom: 150px;
}

/* Welcome section styles */
.welcome-section {
    display: flex;
    color: #FFF;
    border-radius: 16px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 0 126px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.welcome-title {
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.wel-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
}

.welcome-section button {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    background-color: transparent;
    border: 0;
    margin-left: 32px;
}

/* Join Info Section */
.join-info {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px auto 0;
    height: 482px;
    text-align: center;
    padding-top: 100px;
}

.join-info-details {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.join-info-details span {
    color: #F00;
}

.join-info button {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    margin-top: 64px;
}

/* best offer section */
.best-offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.best-offer-column .celebration-img {
    width: 463px;
    height: 463px;
}
.best-offer-column p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.coming-soon {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    margin: 10px 0 22px;
}

.celebration-img {
    border-radius: 100%;
    border: 15px solid #F00;
    text-align: center;

}

.celebration-img img {
    margin: 49px;
}

.year-2024 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.new-year-img {
    margin-top: 43px;
}

/* holiday offer section */
.holiday-sale {
    text-align: center;
    color: #070211;
    margin-top: 120px;
}

.holiday-sale h4 {
    font-size: 24px;
    font-weight: 500;
}

.holiday-sale h3 {
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    margin: 10px auto 28px;
}

.holiday-sale h3 span {
    color: #F00;
}

.holiday-sale p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 70%;
    margin: auto;
}

.holiday-off-img {
    margin: 64px auto 120px;
}
.holiday-absulate-img-1 {
    position: relative;
}
.holiday-absulate-img-2 {
    position: relative;
}
.holiday-absulate-img-3 {
    text-align: right;
    padding: 0;
}
.holiday-absulate-img-4 {
    position: relative;
}
/* portfolio section */
.portfolio-container {
    margin-bottom: 120px;
}

.portfolio-details h3 {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 22px;
}

.portfolio-details p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 70%;
    margin-bottom: 48px;
}

.portfolio-gallery {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.img-gallery-space {
    margin-bottom: 24px;
}

/* newsletter section */
.newsletter-container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
    text-align: center;
}

.mail-box-img {
    padding-top: 80px;
}

.newsletter-info h3 {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    margin: 40px auto;
}

.newsletter-info p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 66%;
    margin: 0 auto 48px;
}
.subscribe-form form {
    display: inline-flex;
}

#subscribe-email {
    border-radius: 50px 0 0 50px;
    border: 0;
    background: #FFF;
    width: 438px;
    height: 72px;
}

#subscribe-email::placeholder {
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
}

.subscribe-form form input {
    border-radius: 0 50px 50px 0;
    border: 0;
    background: #F00;
    color: #FFF;
    width: 210px;
    height: 72px;
    font-size: 20px;
    font-weight: 600;
}

/* footer section styles */
footer {
    height: 609px;
    background: #070211;

}

.footer-container {
    width: 82.5%;
    max-width: 1320px;
    margin: 120px auto;
    color: #FFF;
    padding-top: 120px;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-info {
    display: flex;
    margin-bottom: 50px;
}

.our-address {
    width: 70%;
}

.our-contact {
    width: 30%;
}

.our-contact a {
    text-decoration: none;
    color: #FFF;
}

.footer-container hr {
    background: rgba(255, 255, 255, 0.15);
    border: 0;
    height: 1px;
}

.social-icon {
    margin: 40px auto;
}

.social-icon ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.footer-all-rights {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}